{% extends 'base.html.twig' %}

{% block body %}
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; 
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #5e4b8a;
        }
        p {
            color: #333; 
            line-height: 1.6; 
        }
        strong {
            color: #5e4b8a; 
        }
        a {
            color: #5e4b8a; 
            text-decoration: none;
            border: 1px solid #5e4b8a;
            padding: 10px 15px; 
            border-radius: 5px; 
            display: inline-block; 
            margin-top: 20px; 
        }
        a:hover {
            background-color: #e1bee7; 
            color: white; 
        }
    </style>
<h1>{{ livre.titre }}</h1>
<p><strong>Auteur : </strong>{{ livre.auteur }}</p>
<p><strong>Date de publication : </strong>{{ livre.datePublication|date('d/m/Y') }}</p>
<p><strong>Description : </strong>{{ livre.description }}</p>
<a href="{{ path('app_livre') }}">Retour à la liste des livres</a>
{% endblock %}
